.top{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 4px black;
}

.noBullet{
    list-style-type: none;
}

.footer{
    list-style-type: none;
    display: inline-block;
    text-align: center;
}

html{
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url("jellyfish-918694_1920.jpg");
    background-attachment: scroll;
}

h1{
    color: white;
    text-shadow: 1px 1px 4px black;
}

li{
    color: white;
    text-shadow: 1px 1px 4px black;
    margin: 10px;
}

body{
    margin: 2%;
    padding: 1%;
    background: rgba(175, 114, 139,.5);
    font-family: 'Ubuntu';
}

p{
    color: white;
    text-shadow: 1px 1px 4px black;
}

image{
    border: black;
}


a{
    text-decoration:black;
    text-shadow: none;
}

a:visited{
    text-decoration: maroon;
    text-shadow: none;
}