html {
    margin: 0;
    padding: 0;
}
body {
    font: 75% georgia, sans-serif;
    line-height: 2;
    color: deepskyblue;
    background: lightblue no-repeat bottom right;
    margin: 4%;
    padding: 3%;
}

h3 {
    font-family: "Comic Sans MS";
    font-weight: bolder;
    letter-spacing: 4px;
    margin-bottom: 5px;
    color: black;
}
a:link {
    font-weight: bold;
    text-decoration: none;
    color: greenyellow;
    background: #0d4b0c;
}
a:visited {
    font-weight: bold;
    text-decoration: blink;
    color: #D4CDDC;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: fuchsia;
}
abbr {
    border-bottom: dashed;
    background: border-box;
}
/* specific divs */
.page-wrapper {
    background:#c21d25 repeat-x bottom center;
    padding: 0 175px 0 110px;
    margin: 0;
    position: relative;
}

.intro {
    min-width: 470px;
    width: 40%;
    background: rgba(155, 31, 141, .7);
    text-align: center;
}
.intro h1{
    font-family: Bahnschrift;
    font-size: x-large;
    background-color: #988F5E;
    float: right;
}

.intro h1:hover{
    text-transform: uppercase;
}

.intro h2{
    font-family: Broadway;
    font-size: 500%;

}

.summary {
    width: 160px;
    float: left;
}

.preamble {
    clear: right;
    padding: 0px 10px 0 10px;
    border-color: #988F5E;
}
.supporting {
    padding-left: 10px;
    margin-bottom: 40px;
    margin-top: 30px;
}

footer {
    text-align: center;
}

footer a:link, footer a:visited {
    margin-right: 20px;
}

.sidebar {
    margin-top: 800px;
    margin-left: 600px;
    position: absolute;
    float: left;
    list-style-type: circle;
    top: 0;
    right: 0;
}


.sidebar div:hover{
    background-color: #0d4b0c;
}

.sidebar .wrapper {
    font: 10px verdana, sans-serif;
    background: rgba(173, 166, 172, .8);
    padding: 10px;
    margin-top: 150px;
    width: 130px;
}

.sidebar li {
    line-height: 1.3em;
    display: inline-table;
    padding-top: 3%;
    margin-bottom: 3%;
    list-style-type: georgian;
}
#zen-supporting{
   display: flex;
    flex-direction: row;
}

.sidebar li a:link {
    color: lightgreen;
}
.sidebar li a:visited {
    color: greenyellow;
}

.explanation{
    background-color: darkslategrey;
    border-color: black;
    width: 15%;
    height: 60%
}

.participation{
    background-color: #9685BA;
    border-color: black;
    left-margin: 5%;
    width: 15%;
}
.benefits{
    font-kerning: normal;
    border-color: black;
    background-color: chocolate;
    width: 15%;
}

.requirements{
    background-position: center;
    background-color: olive;
    width: 15%;
}
.extra1 {
    background: transparent url(https://static.pexels.com/photos/326162/pexels-photo-326162.jpeg) top left no-repeat;
    position: absolute;
    background-size: 100%;
    float: left;
    top: 10px;
    right: 10px;
    width: 15%;
    height: 30%;
}