body{
    background-color: cadetblue;
}
.intro{
    border-color: #9685BA;
    text-align: center;
}
/*
This is for the first main heading
 */
.intro h1{
    color: midnightblue;
    background-color: #9685BA;
    border-style: solid;
    font-family: Castellar;
    border-radius: 30%;
}

/*
This is for the second main heading
 */
.intro h2{
    color: black;
    border-style: solid;
    background-color: lightgray;
    border-radius: 20%;
}

/*
These next few are just adding borders around each section
 */
.explanation{
    padding: 3px;
    border-style: solid;
    border-color: black;
}
/*
Adds shadow to the text to make it look cool
 */
.explanation h3{
    text-shadow: 1px 1px black;
    text-align: right;
}
/*
Keeps the text aligned right
 */
.explanation p{
    text-align: right;
}

/*
Border
 */
.participation{
    padding: 3px;
    border-style: solid;
    border-color: black;
}
/*
Sweet ass shadow
 */
.participation h3{
    text-shadow: 1px 1px black;
    text-align: right;
}

/*
Stay right
 */
.participation p{
    text-align: right;
}

/*
Add border
 */
.participation{
    padding: 3px;
    border-style: solid;
    border-color: black;
}

/*
Pmuch same as above
 */
.benefits{
    padding: 3px;
    border-color: black;
    border-style: solid;
}
.benefits h3{
    text-align: right;
    text-shadow: 1px 1px black;
}

.benefits p{
    text-align: right;
}

.requirements{
    border-style: solid;
    border-color: black;
    padding: 3px;
}
.requirements h3{
    text-align: right;
    text-shadow: 1px 1px black;
}

.requirements p{
    text-align: right;
}

.zen-resources{
    text-align: center;
}

/*
Trying to get all of the elements of the resources in a line
 */
.zen-resources ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
}

/*
Sets a margin between each element
and adds color so they can be differentiated
 */
.zen-resources li{
    margin: 1px;
    padding: 1px;
    text-align: center;
    background-color: #9685BA;
}

.design-archives h3{
    text-align: left;
}

/*
Makes these in a column
 */
.design-archives ul{
    display: flex;
    list-style: none;
    text-align: left;
    flex-direction: column;
}

.design-archives li{
    text-align: left;
}

.design-archives{
    float: left;
}

.design-archives{
    float: left;
}

.design-selection{
    float: right;
}

.design-selection h3{
    text-align: right;
    text-color: purple;
}

/*
Tries to make these into a column as well
 */
.design-selection ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.sidebar{
    justify-content: center;
}