body{
    background-color: cadetblue;
}
.intro{
    border-color: #9685BA;
    text-align: center;
}

.intro h1{
    color: midnightblue;
    background-color: #9685BA;
    border-style: solid;
    font-family: Castellar;
    border-radius: 30%;
}

.intro h2{
    color: black;
    border-style: solid;
    background-color: lightgray;
    border-radius: 20%;
}

.explanation{
    padding: 3px;
    border-style: solid;
    border-color: black;
}
.explanation h3{
    text-shadow: 1px 1px black;
    text-align: right;
}

.explanation p{
    text-align: right;
}

.participation{
    padding: 3px;
    border-style: solid;
    border-color: black;
}
.participation h3{
    text-shadow: 1px 1px black;
    text-align: right;
}

.participation p{
    text-align: right;
}

.participation{
    padding: 3px;
    border-style: solid;
    border-color: black;
}

.benefits{
    padding: 3px;
    border-color: black;
    border-style: solid;
}
.benefits h3{
    text-align: right;
    text-shadow: 1px 1px black;
}

.benefits p{
    text-align: right;
}

.requirements{
    border-style: solid;
    border-color: black;
    padding: 3px;
}
.requirements h3{
    text-align: right;
    text-shadow: 1px 1px black;
}

.requirements p{
    text-align: right;
}

.zen-resources{
    text-align: center;
}

.zen-resources ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
}

.zen-resources li{
    margin: 1px;
    padding: 1px;
    text-align: center;
    background-color: #9685BA;
}

.design-archives h3{
    text-align: left;
}

.design-archives ul{
    display: flex;
    list-style: none;
    text-align: left;
    flex-direction: column;
}

.design-archives li{
    text-align: left;
}

.design-archives{
    float: left;
}

.design-archives{
    float: left;
}

.design-selection{
    float: right;
}

.design-selection h3{
    text-align: right;
    text-color: purple;
}

.design-selection ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.sidebar{
    justify-content: center;
}