html {
    margin: 0;
    padding: 0;
}
/*
Changes some of the stuff for the main body
 */
body {
    font: 75% georgia, sans-serif;
    line-height: 2;
    color: deepskyblue;
    background: lightblue no-repeat bottom right;
    margin: 4%;
    padding: 3%;
}

/*
Standardizes all of the h3s to be ugly and in comic sans
 */
h3 {
    font-family: "Comic Sans MS";
    font-weight: bolder;
    letter-spacing: 4px;
    margin-bottom: 5px;
    color: black;
}
/*
Makes the links hella ugly
 */
a:link {
    font-weight: bold;
    text-decoration: none;
    color: greenyellow;
    background: #0d4b0c;
}
/*
Changes the links while keeping them hella ugly
 */
a:visited {
    font-weight: bold;
    text-decoration: blink;
    color: #D4CDDC;
}

/*
Underlines stuff you are sitting on
 */
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: fuchsia;
}
/*
Lets you know what is an abbreviation and hwat is not an abbreviation
 */
abbr {
    border-bottom: dashed;
    background: border-box;
}
/*
Makes the page wrapper a solid color and places it up to the right
 */
.page-wrapper {
    background:#c21d25 repeat-x bottom center;
    padding: 0 175px 0 110px;
    margin: 0;
    position: relative;
}

/*
Sets the location of the intro
 */
.intro {
    min-width: 470px;
    width: 40%;
    background: rgba(155, 31, 141, .7);
    text-align: center;
}
.intro h1{
    font-family: Bahnschrift;
    font-size: x-large;
    background-color: #988F5E;
    float: right;
}

/*
Randomly makes this stuff uppercase
 */
.intro h1:hover{
    text-transform: uppercase;
}

.intro h2{
    font-family: Broadway;
    font-size: 500%;

}

/*
Forces the summary into the left and a thin column
 */
.summary {
    width: 160px;
    float: left;
}

.preamble {
    clear: right;
    padding: 0px 10px 0 10px;
    border-color: #988F5E;
}
/*
Adds padding left so stuff is seperated
 */
.supporting {
    padding-left: 10px;
    margin-bottom: 40px;
    margin-top: 30px;
}

/*
I just wanted this centered
 */
footer {
    text-align: center;
}

/*
Keeps these seperated
 */
footer a:link, footer a:visited {
    margin-right: 20px;
}

/*
Pushes the sidebar to the bottom of the screen
 */
.sidebar {
    margin-top: 800px;
    margin-left: 600px;
    position: absolute;
    float: left;
    list-style-type: circle;
    top: 0;
    right: 0;
}

/*
Changes the color on hover
 */
.sidebar div:hover{
    background-color: #0d4b0c;
}

.sidebar .wrapper {
    font: 10px verdana, sans-serif;
    background: rgba(173, 166, 172, .8);
    padding: 10px;
    margin-top: 150px;
    width: 130px;
}

.sidebar li {
    line-height: 1.3em;
    display: inline-table;
    padding-top: 3%;
    margin-bottom: 3%;
    list-style-type: georgian;
}
/*
Pretty much everythin here is to make the elements appear side by side
I wasn't trying to make everything fit well, I just wanted the paragraphs beside
each other
 */
#zen-supporting{
   display: flex;
    flex-direction: row;
}

.sidebar li a:link {
    color: lightgreen;
}
.sidebar li a:visited {
    color: greenyellow;
}

.explanation{
    background-color: darkslategrey;
    border-color: black;
    width: 15%;
    height: 60%
}

.participation{
    background-color: #9685BA;
    border-color: black;
    left-margin: 5%;
    width: 15%;
}
.benefits{
    font-kerning: normal;
    border-color: black;
    background-color: chocolate;
    width: 15%;
}

.requirements{
    background-position: center;
    background-color: olive;
    width: 15%;
}
/*
adds a dank ass real zen garden to the top
 */
.extra1 {
    background: transparent url(https://static.pexels.com/photos/326162/pexels-photo-326162.jpeg) top left no-repeat;
    position: absolute;
    background-size: 100%;
    float: left;
    top: 10px;
    right: 10px;
    width: 15%;
    height: 30%;
}